{{!-- {{#each this}} --}}
<tr name="prewinner" id="mark6">
  <td>
    <input type="text" name="roundname" placeholder="Round Name">
  </td>
  <td>
    <input placeholder="Position" name="preposw" value="{{prewinner.position}}">
  </td>
  <td>
    <input placeholder="Name" name="prenamew" value="{{prewinner.name}}">
  </td>
  <td>
    <input placeholder=" ID" name="preidw" value="{{prewinner.id}}">
  </td>
  <td>
    <input placeholder="Institute/University" name="preinsw" value="{{prewinner.institute}}">
  </td>
  <td>
    <input placeholder="Contact no."name="prenumberw" value="{{prewinner.mobile}}">
  </td>
  <td>
    <input placeholder="Amount" name="preprizew" value="{{prewinner.prize}}">
  </td>
  </tr>
  {{!-- {{/each}} --}}